<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Demo</h3>
        <strong>BS</strong>
    </div>
    
    <ul class="list-unstyled components">
        <li class="active">
            <%= link_to "My Projects", projects_path %>
            <%= link_to "My Tasks", tasks_path %>
        </li>
    </ul>
</nav>